.btn {
  background-image: url(bg/BUTTONS/NotSelected.png);
  background-position: 0px;
  width: 3.875rem;
  height: 3.875rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.btn.middle-btn {
  background-position: -5.25rem 0rem;
}

.btn.right-btn {
  background-position: -10.44rem 0rem;
}

.btn:hover,
.btn:focus,
.btn-key-hover {
  background-image: url(bg/BUTTONS/Hover.png);
}

.btn:active,
.btn-key-selected {
  background-image: url(bg/BUTTONS/Selected.png);
}

.icon {
  background-image: url(bg/ICONS/NotSelected.png);
  background-position: 0px;
  width: 3.5rem;
  height: 4.06rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: transparent;
  border-color: transparent;
}

.icon.poop-icon {
  background-position: -10.125rem 0px;
}

.icon.weather-icon {
  background-position: -20.19rem 0px;
}

.icon.highlighted {
  background-image: url(bg/ICONS/Hover.png);
}

.icon.active {
  background-image: url(bg/ICONS/Selected.png);
}

.fox-static {
  background-image: url(./pet/FoxBase.png);
  width: 7.31rem;
  height: 10.31rem;
}

.fox-idling {
  background-image: url(./pet/AtRest.png);
  background-repeat: no-repeat;
  width: 7.31rem;
  height: 10.31rem;
  animation: idle 2s steps(3) infinite;
}

@keyframes idle {
  to {
    background-position: -23.25rem;
  }
}

.fox.fox-pooping {
  background-image: url(./pet/Pooping.png);
  background-position: -115rem;
  background-repeat: no-repeat;
  width: 12rem;
  height: 14rem;
  animation: pooping 5s steps(10);
}

.fox.fox-pooped {
  background-image: url(./pet/Pooping.png);
  background-position: -115rem;
  background-repeat: no-repeat;
  width: 12rem;
  height: 14rem;
}

@keyframes pooping {
  from {
    background-position: 0;
  }
  to {
    background-position: -127.5rem;
  }
}

.fox-celebrate.fox {
  background-image: url(./pet/Yay.png);
  background-repeat: no-repeat;
  width: 8.175rem;
  height: 13.31rem;
  animation: celebrate 2s steps(5) infinite;
}

@keyframes celebrate {
  to {
    background-position: -40.875rem;
  }
}

.fox-rain.fox {
  background-image: url(./pet/Rain.png);
  background-repeat: no-repeat;
  width: 8.375rem;
  height: 9.563rem;
  animation: sit-in-the-rain 2s steps(5) infinite alternate;
}

@keyframes sit-in-the-rain {
  to {
    background-position: -41.875rem;
  }
}

.fox-hungry.fox {
  background-image: url(./pet/Hungry.png);
  background-repeat: no-repeat;
  width: 8.125rem;
  height: 10rem;
  top: 21.19rem;
  animation: hungry 1s steps(2) infinite;
}

@keyframes hungry {
  to {
    background-position: -16.25rem;
  }
}

.fox-eating.fox {
  background-image: url(./pet/Eating.png);
  background-position: -116.6rem;
  background-repeat: no-repeat;
  width: 12.96rem;
  height: 9.25rem;
  top: 22.375rem;
  left: 5.06rem;
  animation: eating 3s steps(10);
}

@keyframes eating {
  from {
    background-position: 0;
  }
  to {
    background-position: -127.56rem;
  }
}

.fox-egg.fox {
  background-image: url(./pet/Egg.png);
  background-repeat: no-repeat;
  background-position: -65.62rem;
  width: 10.94rem;
  height: 13.56rem;
  animation: hatching 4s steps(7);
}

@keyframes hatching {
  from {
    background-position: 0;
  }
  to {
    background-position: -76.56rem;
  }
}

.fox-dead.fox {
  background-image: url(./pet/TombStone.png);
  background-repeat: no-repeat;
  width: 7.38rem;
  height: 7.44rem;
  animation: being-dead 1s steps(3) infinite;
}

@keyframes being-dead {
  to {
    background-position: -22.125rem;
  }
}

.fox-sleep.fox {
  background-image: url(./pet/Sleeping.png);
  background-repeat: no-repeat;
  width: 15.625rem;
  height: 9.69rem;
  animation: sleeping 4s steps(4) infinite;
}

@keyframes sleeping {
  to {
    background-position: -62.5rem;
  }
}

.foreground-rain {
  display: none;
  background-image: url(./bg/rain.png);
  animation: raining 0.5s steps(3) infinite;
  width: 37.88rem;
  height: 32.25rem;
  overflow: hidden;
  position: absolute;
  top: 3.5rem;
  left: 3.75rem;
}

.rain ~ .foreground-rain {
  display: block;
}

@keyframes raining {
  to {
    background-position: -113.625rem;
  }
}

.poop-bag {
  background-image: url(./pet/PoopBag.png);
  animation: swing-poop-bag 1s steps(3) infinite alternate;
  width: 6.1875rem;
  height: 6.5rem;
  overflow: hidden;
}

@keyframes swing-poop-bag {
  to {
    background-position: -18.56rem;
  }
}

.frame {
  background-image: url(./bg/FRAME.png);
}

.game {
  background-image: url(./bg/DAY.png);
}

.game.night {
  background-image: url(./bg/NIGHT.png);
}

.game.dead {
  background-image: url(./bg/DEAD.png);
}

.game.rain {
  background-image: url(./bg/RAINY.png);
}

body {
  background-image: url(./bg/Canvas.png);
}
